.container {
    height: 230px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding:0 64px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 100%;

}

.shop {
    color: #BE20A5;
    font-weight: 500;
    font-size: 18px;
}

.header {
    color: #333333;
    font-weight: 700;
    font-size: 24px;
}

.about_product {
    width: 511px;
    display: flex;
    justify-content: space-between;
}

.about_product>span {
    padding-top: 5px;
}

.price {
    font-weight: 500;
    font-size: 20px;
    color: #111111;
}

.review {
    color: #858585;
    font-size: 14px;
}

.update {
    color: #858585;
    font-size: 14px;
}

.about_seller {
    width: 712px;
    display: flex;
    justify-content: space-between;
}

.sections {
    color: #858585;
    font-size: 14px;
}

.value {
    color: #333D37;
    padding-left: 12px;
}

.line {
    border: 1px solid #F0F0F0;
}

.lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    height: 230px;
    background: #FAFAFA;
}