
.section {
    width: 320px;
    height: 182px;
    border-radius: 16px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.left_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.orders {
    font-weight: 500;
    font-size: 16px;
    color: #111111;
}

.date_for {
    font-size: 14px;
    color: #858585;
    display: flex;
    align-items: center;
}

.date_period {
    border: 1px solid #F0F0F0;
    background: #F1FCF6;
    border-radius: 8px;
    color: #219653;
    font-size: 14px;
}

.right_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons .btn {
    width: 37px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #858585;
    user-select: none;
    font-size: 12px;
    font-weight: 500;
}

.active {
    width: 37px;
    border: none;
    cursor: pointer;
    background: #F1FCF6;
    border-radius: 4px;
    color: #219653;
    user-select: none;
    font-size: 12px;
    font-weight: 500;
}

.amount {
    font-weight: 500;
    font-size: 16px;
    color: #111111;
}

.logo {
    padding-left: 6px;
}